<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-background-image" version="1.0.1">
  <name>Android Window Background Image</name>
  <description>Plugin to set Android background image like splash screen for Cordova/Ionic application</description>
  <license>MIT</license>
  <author>Viktor Shmigol</author>
  <keywords>cordova,ionic,android,window,background,image,styles.xml</keywords>
  <platform name="android">
    <edit-config file="AndroidManifest.xml" target="/manifest/application/activity[@android:name='MainActivity']" mode="merge">
      <activity android:name="MainActivity" android:theme="@style/CordovaWindowBackgroundImage"/>
    </edit-config>
    <source-file src="cordova-plugin-background-image-styles.xml" target-dir="res/values" />
    <config-file target="res/values/cordova-plugin-background-image-styles.xml" parent="/*">
      <style name="CordovaWindowBackgroundImage" parent="@android:style/Theme.DeviceDefault.NoActionBar">
        <item name="android:windowContentOverlay">@null</item>
        <item name="android:windowNoTitle">true</item>
        <item name="android:windowBackground">@drawable/screen</item>
      </style>
    </config-file>
  </platform>
</plugin>
